* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
 }

.nav {
    font-size:smaller;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 450px; padding-right: 450px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    color:rgb(34, 34, 34)
}

.product img{
    padding: 20px;
    height: 460px; width: 350px; 
    flex-direction: row;
    justify-content: space-around;
    }
    