* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
        padding-left: 650px;
        padding-right: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
    }


.nav {
    font-size:smaller;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 450px; padding-right: 450px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    color:rgb(34, 34, 34)
}

hr {
    width: 40%;
    margin: auto;
    }

.second_nav {
    font-size:smaller;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 450px; padding-right: 450px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    color:rgb(34, 34, 34)
}

.wrapper {
    display: flex;
    /* justify-content:center; */
}

.product {

    /* padding-left: 40px;
    padding-right: 20px;
    padding-bottom: 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    }

.product img {
    height: 400px; width: 350px; 


}
.information {
    padding-left: 30px;
    padding-right: auto;
}