h1 {
    /* Change font color */
     color: #efd75e; 
  }
img {
    /* Change image size */
    width: 1020px;
    height:auto; 
  }
hr {width: 1000px;
  }
.navigator {
  background-color: beige;}  
.information {
  background-color: rgba(120, 120, 120, 0.638);
  color: aliceblue;
}  