.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sonan {
  display: flex;
  justify-content: center;
}

img {
  width: 150px;
}

.member {
  list-style-type: none;
  text-decoration: none;
}