
h1 {
  /* padding-top: 10px; */
  padding-bottom: 20px;
  padding-left: 350px; padding-right: 350px;
  font-style: normal;
  color: rgb(42, 42, 42);
}

h3 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-style: italic;
  color: rgb(216, 168, 132);
  padding-bottom: 20px;
}
.sonan_img img {
  height:550px; 
  width: 450px; 
  padding-bottom: 30px;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.explain2 {
  font-size: small;
  font-weight: bold;
  text-align: left;
}

.explain3 {
  font-weight: normal;
}